<% content_for :head do %>
  <%= stylesheet_link_tag "application" %>
<% end %>

<%= simple_form_for @developer do |f| %>
    <%= f.input :username %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :language1 %>
    <%= f.input :language2 %>
    <%= f.input :language3 %>
    <%= f.input :language4 %>
    <%= f.input :nationality %>
    <%= f.input :birthday %>
    <h3>Projects</h3>
    <div id="projects">
      <%= f.simple_fields_for :projects do |project| %>
        <%= render 'project_fields', f: project %>
      <% end %>
    </div>
    <div class="links">
      <%= link_to_add_association "Add a Project", f, :projects, class: 'btn btn-default' %>
      <%= f.button :submit  %>
    </div>
  <%end  %>
